<%- include('./partials/header.ejs') %>


    <!-- Form for creating a new menu item -->
    <form action="/admin/menu" method="POST">
        <input type="text" name="name" placeholder="Item Name" required>
        <input type="text" name="description" placeholder="Item Description" required>
        <input type="number" name="price" placeholder="Item Price" required>
        <input type="text" name="category" placeholder="Item Category" required>
        <input type="submit" value="Create Menu Item">
    </form>


<% Object.keys(categories).forEach(category => { %>
    <div class="menu-category">
        <h2><%= category %></h2>
        <div class="menu-items">
            <% categories[category].forEach(item => { %>
                <div class="menu-item">
                    <!-- Display item details -->
                    <h3><%= item.name %></h3>
                    <p>Price: $<%= item.price %></p>
                    
                   
                        <!-- Form for updating the item -->
                        <form action="/admin/menu/<%= item._id %>" method="POST">
                            <input type="text" name="name" placeholder="New Item Name">
                            <input type="text" name="description" placeholder="New Item Description">
                            <input type="number" name="price" placeholder="New Item Price">
                            <input type="text" name="category" placeholder="New Item Category">
                            <input type="submit" value="Update">
                        </form>
                 
                </div>
            <% }); %>
        </div>
    </div>
<% }); %>

</body>


